<%- include("partials/header"); -%>
  <button type="button" class="btn btn-primary btn-lg">Create New Post</button>
  <%  posts.forEach(function(post){ %>
    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <% }) %>
<%- include("partials/footer"); -%>
